body {
    --bs-body-bg: #FFFAE9;
    --bs-body-font-size: 1.125rem;
}

#logo {
    width: 140px;
    transition: .1s;
    &:hover { scale: 1.05; }
}

input {
    width: 485px;
    height: 65px;
    padding: 15px;
    font-size: 1.75rem;
    border: 1px solid #9d9d9d;
    border-radius: 10px;
    font-family: monospace;
    color: black;
    outline: none;
    &:focus { border-color: black; }
}

#password-length {
    font-size: 1.125rem;
    opacity: 0;
    transition: opacity .5s ease-in-out;
}

.rule {
    width: 485px;
    border-radius: 10px;
    margin-bottom: 15px;
    transition: border .5s;
    border: 1px solid var(--rule-border-color);
    &.valid {
        --rule-border-color: green;
        --rule-title-bg: #AEF3AE;
        --rule-content-bg: #E3FFE3;
        .rule-title .fas { color: #267b30; }
    }
    &.invalid {
        --rule-border-color: red;
        --rule-title-bg: #FFC7C7;
        --rule-content-bg: #FFECEC;
        order: 1;
        .rule-title .fas { color: red; }
    }
}

.rule-title {
    background-color: var(--rule-title-bg);
    padding: 10px;
    border-radius: 10px 10px 0 0;
    transition: background .7s;
}
.rule-content {
    background-color: var(--rule-content-bg);
    padding: 20px 10px;
    border-radius: 10px;
    transition: background .7s;
}